/*FUENTES*/
@font-face{
	font-family: 'PoppinsBlack';
	src: url('../rsc/fonts/Poppins-Black.ttf') format('truetype');
}

@font-face{
  font-family: 'PoppinsExtraBold';
  src: url('../rsc/fonts/Poppins-ExtraBold.ttf') format('truetype');
}

@font-face{
  font-family: 'PoppinsBold';
  src: url('../rsc/fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face{
  font-family: 'PoppinsSemiBold';
  src: url('../rsc/fonts/Poppins-SemiBold.ttf') format('truetype');
}

@font-face{
  font-family: 'PoppinsBlack';
  src: url('../rsc/fonts/Poppins-Black.ttf') format('truetype');
}

@font-face{
  font-family: 'HindSemiBold';
  src: url('../rsc/fonts/Hind-SemiBold.ttf') format('truetype');
}

@font-face{
  font-family: 'HindMedium';
  src: url('../rsc/fonts/Hind-Medium.ttf') format('truetype');
}

@font-face{
  font-family: 'HindRegular';
  src: url('../rsc/fonts/Hind-Regular.ttf') format('truetype');
}

/*VARIABLES*/

:root{
  --colorBasico:#ffffff;
  --colorEnfasis:#E89210;
  --colorEnfasisHover:#F7A809;
  --colorEnfasisTrans: rgba(232,146,16,0.5); 
  --colorPrimario:#09647A;
  --colorSecundario1:#75787B;
  --colorSecundario1Trans:rgba(117,120,123,0.3); 
  --colorSecundario2:#1A9C8F; 
  --colorTexto:#2e3133;
}

/*CSS COMÚN*/

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

h1{ 
  font-family: 'PoppinsBlack';
  text-transform: uppercase;
  color: var(--colorBasico);
  margin-top: 0px;
}

h2{
  font-family: 'PoppinsBlack';
}

h3{
  font-family: 'PoppinsBold';
}

h4{
  font-family: 'PoppinsSemiBold';
  color: var(--colorTexto);
}

p{
  font-family: 'HindRegular';
  color: var(--colorTexto);
}

header{
  background-image: url(../rsc/img/cabecera.jpg);  
}

a{
  text-decoration: none;
  color: var(--colorPrimario);
}

a:hover{
  color: var(--colorSecundario2);
}

/*Menú circular. La animación está hecha con JavaScript y su código está en el archivo script.js*/
.menu-centro{ 
  z-index: 10;
  cursor: pointer;
}

.menu-centro p{
  font-family: 'HindSemiBold';
  font-size: 22px;
  transition: 0.3s;
}

.menu-centro p:hover{
  font-size: 26px;
}

.items{
  width:80px;
  height: 80px;
  font-size: 30px;
  background: var(--colorBasico);
  color: var(--colorEnfasis);
  border-radius: 50%;
  top: 0px;
  left: 0px;
  transition: 0.8s;
}

.menu-items{
   width:80px;
   height: 80px;   
   margin-top: 20px; 
}

.menu-items a{
  text-decoration: none;
  color: var(--colorEnfasis);

}

nav i{
  color: var(--colorEnfasis);
  transition: 0.3s;
}

nav i:hover{
  font-size: 40px;
}

/*Fin Menú circular*/

.titulo-seccion{
      background: var(--colorPrimario);
      color: var(--colorBasico);
}

.naranja{
  color: var(--colorEnfasis);
}

.azul-primario{
   color: var(--colorPrimario);
}

.mi-foto{
  border-radius: 20px;
}

#descarga{
  font-size: 30px;
}

.degradado{
  background: linear-gradient(to bottom, var(--colorBasico), var(--colorEnfasisTrans) 50%, var(--colorBasico));
}

/*Barras de progreso de la sección de habilidades*/

.progress {
  background: var(--colorBasico);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 2px;
  display: flex;
  height: 20px;
  width: 250px;
}

.progress-value-html {
  animation: html 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #F24E1E;
  height: 16px;
  width: 0;
}

.progress-value-css {
  animation: css 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #1572B6;
  height: 16px;
  width: 0;
}

.progress-value-js {
  animation: js 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #F7DF1E;
  height: 16px;
  width: 0;
}

.progress-value-bs {
  animation: bs 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #563D7C;
  height: 16px;
  width: 0;
}

.progress-value-wp {
  animation: wp 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #1572B6;
  height: 16px;
  width: 0;
}

.progress-value-fig {
  animation: fig 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #09CF83;
  height: 16px;
  width: 0;
}

/*Fin barras de progreso*/

.logo-valmet{
  max-height: 33px;
}

.logo-ignition{
  max-height: 60px;
}

.icono-protocolos{
  max-height: 60px;
}

.iconos-competencias{
  max-height: 60px;
}

.logo-carmen{
  max-width: 350px;
}

.logo-carmen{
  max-width: 320px;
}

.logo-soltel{
  max-width: 320px;
}

.logo-pvh{
  max-width: 320px;
}
.logo-abengoa{
  max-width: 320px;
}

.logo.nonotel{
  max-width: 350px;
}

.logo-huelva{
  max-width: 300px;
}

.parrafo-grande{
  font-family: 'HindSemiBold';
}

#experiencia h3{
  color: var(--colorTexto);
}

.skill{
  border-radius:25px;
  padding: 10px 20px;
  margin: 10px;
  color: var(--colorBasico);
}

.bg-naranja{
  background: var(--colorEnfasis);
}

.bg-verde{
  background: var(--colorSecundario2);
}

hr{
    border: 1px solid var(--colorSecundario1);
    width: 90% !important;
}

#portfolio h3{
  font-family: 'PoppinsBlack';
}

#portfolio p{
  font-size: 22px;
}

.bg-portfolio{
  background: var(--colorSecundario1Trans);
}

.foto-portfolio{
  border-radius: 20px;
}


#form-contacto{
  background: var(--colorSecundario1Trans);
  border-radius: 20px;
}

input{
  border-radius: 5px;
  font-size: 16px;
  border: none;
}

textarea{
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

form{
  font-family: 'HindRegular';
  font-size: 18px;
}

#btn-enviar{
  width: 100px;
  border-radius: 20px;
  background: var(--colorEnfasis);
  color: var(--colorBasico);
  font-weight: bold;
  font-size: 20px;
}

#btn-enviar:hover{ 
  background: var(--colorEnfasisHover); 
}

#desplegable{
  cursor: pointer;
}

footer{
  background: var(--colorPrimario); 
}

footer p{
   color: var(--colorBasico);
}
footer a{
  font-family: 'HindRegular';
  font-size: 18px;
  color: var(--colorBasico);
}

footer a:hover{
  color: var(--colorSecundario2);
}

footer i{
  font-size: 30px;
}

#arriba{
  width: 50px;
  height: 50px;
  background: var(--colorSecundario1);
  border-radius: 5px;
  color: var(--colorBasico);
  font-size: 30px;
}

/*RESPONSIVE*/

@media screen and (max-width: 575px){
  h1{   
      font-size: 28px; 
      /*max-width:500px; */    
    }

    h2{
      font-size: 24px;
    }

    h3{
      font-size: 22px;
    }

    h4{
      font-size: 22px;
    }

    p{
      font-size: 16px;    
    }

    .parrafo-grande{
      font-size: 18px;  
    }

    header{
      height: 700px;
      background-position: center center; 
    }

    .margen-logo{
       padding-top: 55px;
    }

    .menu{
      margin-top: 170px;
      margin-bottom: 90px;
    }

    .margen{
       margin: 80px 0px;
    }

    .titulo-seccion-responsive{
      color: var(--colorPrimario);
      background: var(--colorBasico);

    }

     .mi-foto{
      max-width: 400px;
    }

    #habilidades h2{
      padding-top: 50px;
      margin-bottom: 50px;
    }

   .margen-portfolio{
      margin: 0px 30px;
      padding: 50px 0px 20px 0px;
    }

    .foto-portfolio{
      max-width: 300px;
    }

}

@media screen and (min-width: 576px){
    h1{   
      font-size: 40px;     
    }

    h2{
      font-size: 32px;
    }

    h3{
      font-size: 26px;
    }

    h4{
      font-size: 22px;
    }

    p{
      font-size: 16px;    
    }

    .parrafo-grande{
      font-size: 18px;  
    }

     header{
      height: 760px;
      background-position: center bottom; 
    }

    .margen-logo{
       padding-top: 55px;
    }

    .menu{
      margin-top: 90px;
      margin-bottom: 110px;
    }

    .margen{
       margin: 80px 0px 80px 0px;
    }

    .titulo-seccion{
      transform: skewX(-20deg);
    }

    .titulo-seccion h2{
      transform: skewX(20deg);
    }

     .mi-foto{
      max-width: 400px;
    }

    #habilidades h2{
      padding-top: 50px;
      margin-bottom: 50px;
    }

    .margen-portfolio{
      margin: 0px 50px;
      padding: 50px 0px 20px 0px;
    }

    .foto-portfolio{
      max-width: 400px;
    }
}

@media screen and (min-width: 768px){
    h1{   
      font-size: 50px;
      /*max-width: 600px;  */    
    }

    h2{
      font-size: 36px;
    }

    h3{
      font-size: 28px;
    }

    h4{
      font-size: 22px;
    }

    p{
      font-size: 18px;    
    }

    .parrafo-grande{
      font-size: 20px;  
    }

    header{
      height: 760px;
      background-position: center bottom; 
    }

    .margen-logo{
       padding-top: 40px;
    }

    .menu{
      margin-top: 90px;
      margin-bottom: 110px;
    }

    .margen{
       margin: 80px 0px 80px 0px;
    }

     .titulo-seccion{
        transform: skewX(-20deg);
    }

    .titulo-seccion h2{
      transform: skewX(20deg);
    }

    .mi-foto{
      max-width: 400px;
    }

    #habilidades h2{
      padding-top: 100px;
      margin-bottom: 100px;
    }

    .margen-portfolio{
      margin: 0px 100px;
      padding: 50px 0px 20px 0px;
    }

    .foto-portfolio{
      max-width: 500px;
    }


}

@media screen and (min-width: 992px){
    h1{   
      font-size: 60px;
      max-width: 800px;      
    }

    h2{
      font-size: 40px;
    }

    h3{
      font-size: 30px;
    }

    h4{
      font-size: 24px;
    }

    p{
      font-size: 18px;    
    }

    .parrafo-grande{
      font-size: 20px;  
    }

    header{
      height: 960px;
      background-position: center center; 
    }

    .logo{
      max-width: 400px;
    }

    .margen-logo{
       padding-top: 120px;
    }

    .menu{
      margin-top: 200px;
      margin-bottom: 100px;
    }

    .margen{
       margin: 100px 0px 100px 0px;
    }

    .titulo-seccion{
       background: var(--colorPrimario);
        color: var(--colorBasico);
        transform: skewX(-20deg);
    }

    .titulo-seccion h2{
      transform: skewX(20deg);
    }

    .mi-foto{
      max-width: 500px;
    }

    #habilidades h2{
      padding-top: 100px;
      margin-bottom: 100px;
    }

    .margen-portfolio{
      margin: 0px 100px;
      padding: 80px 0px;
    }

    .foto-portfolio{
      max-width: 500px;
    }

}


/*ANIMACIONES*/

@keyframes html {
  0% { width: 0; }
  100% { width: 90%; }
}

@keyframes css {
  0% { width: 0; }
  100% { width: 80%; }
}

@keyframes js {
  0% { width: 0; }
  100% { width: 50%; }
}

@keyframes bs {
  0% { width: 0; }
  100% { width: 75%; }
}

@keyframes wp {
  0% { width: 0; }
  100% { width: 65%; }
}

@keyframes fig {
  0% { width: 0; }
  100% { width: 50%; }
}